@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.item {
  display: flex;
  cursor: pointer;
  border-top: 0.3px solid $border-color;
  padding: 12px 0;

  &:first-child {
    padding-top: 0;
    border-top: none;
  }
  &__thumbnail {
    position: relative;
    margin-right: 10px;
    width: 300px;
    height: 180px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.rounded img {
      border-radius: 100%;
      width: 180px;
      margin: 0 auto;
    }
    .duration {
      font-size: 14px;
      position: absolute;
      bottom: 0.3rem;
      right: 0.3rem;
      padding: 0.2rem;
      background: #080808ec;
      border-radius: 3px;
    }
  }
  &__info {
    font-size: 0.9rem;
    padding-top: 2px;
    flex: 1;

    &.align_center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
    }
    p + p {
      margin-top: 8px;
    }
    .title {
      font-size: 1rem;
      color: #fff;
      letter-spacing: 0.1px;
      @include line-clamp(1);
    }
    .description {
      @include line-clamp(4);
    }
  }
}

@include responsive('small') {
  .item {
    &__thumbnail {
      margin-right: 15px;
      &.rounded {
        width: 110px;
        height: 110px;
        img {
          width: 110px;
        }
      }
    }
    &__info {
      .description {
        @include line-clamp(2);
      }
    }
  }
}
