@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.iframe_container {
  height: 60vh;
  background-color: #353946;
  width: 100%;
  margin-bottom: 30px;
}

@include responsive('small') {
  .iframe_container {
    height: 250px;
    margin-bottom: 15px;
  }
}
