@import './reset';
@import './variables';

.main_contents {
  display: flex;
  margin-top: $header-height;
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 20px;
  overflow-x: hidden;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__container {
    background-color: $black-secondary;
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      margin-bottom: 1rem;
      background: #fff;
      cursor: pointer;
    }
  }

  img {
    width: 130px;
    height: 130px;
    object-fit: contain;
  }
}

.watch_page {
  display: flex;
  justify-content: space-between;

  .watch_contents {
    flex-basis: 70%;
  }
}
