@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.skeleton {
  background: $skeleton-bg;
  margin: 5px 0;
  border-radius: 3px;
  opacity: 0.7;
  overflow: hidden;
  position: relative;

  &.thumbnail {
    width: 100%;
    height: 122px;
  }

  &.title {
    flex: 1;
    width: 100%;
    height: 22px;
  }

  &.text {
    width: 100%;
    height: 12px;
  }

  &.profile {
    @include circle-img(36px);
    margin-right: 0.5rem;
    cursor: pointer;
  }
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2.5s infinite;
}

.highlight::before {
  content: '';
  width: 50%;
  height: 100%;
  background-color: $skeleton-hl;
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
  position: absolute;
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translate(150%);
  }
}
