@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.video_h {
  display: flex;
  cursor: pointer;
  padding: 15px 0;
  & + li {
    border-top: 0.3px solid $border-color;
  }
  &__thumbnail {
    position: relative;
    margin-right: 10px;
    img {
      display: block;
      width: 150px;
      height: 90px;
      object-fit: cover;
    }
    .duration {
      font-size: 14px;
      position: absolute;
      bottom: 0.3rem;
      right: 0.3rem;
      padding: 0.2rem;
      background: #080808ec;
      border-radius: 3px;
    }
  }
  &__info {
    font-size: 0.9rem;
    padding-top: 2px;
    flex: 1;
    p + p {
      margin-top: 8px;
    }
    .title {
      font-size: 1rem;
      color: #fff;
      letter-spacing: 0.1px;
      @include line-clamp(1);
    }
  }
}
