@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: $black-primary;
  height: $header-height;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 999;

  &__menu {
    display: none;
    cursor: pointer;
  }

  &__logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: block;
    cursor: pointer;
  }

  &__icons {
    flex: 0.15;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & > * {
      cursor: pointer;
    }

    img {
      border-radius: 50%;
      width: 40px;
      object-fit: contain;
      margin-left: 5px;
    }
  }
}

@include responsive('small') {
  .header {
    padding: 1rem;

    form {
      flex: 1;
    }

    &__menu {
      display: block;
    }

    &__logo,
    &__icons > *:not(img) {
      display: none;
    }
  }
}
