@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.searched_video_list {
  .item__info {
    .title {
      font-size: 1.2rem;
    }
    .channel {
      display: flex;
      align-items: center;
      padding: 13px 0;
      img {
        @include circle-img(24px);
        margin-right: 10px;
      }
    }
  }

  @include responsive('small') {
    .item {
      &__thumbnail {
        width: 160px;
        height: 90px;
      }
      &__info {
        .title {
          font-size: 0.9rem;
          @include line-clamp(2);
        }
        .channel {
          padding: 0;
          @include line-clamp(1);
          img {
            display: none;
          }
        }
        .description {
          display: none;
        }
        p + p {
          margin-top: 2px;
        }
      }
    }
  }
}
