@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.searched_video_list {
  .item__info {
    .title {
      font-size: 1.2rem;
    }
    .channel {
      display: flex;
      align-items: center;
      padding: 13px 0;
      img {
        @include circle-img(24px);
        margin-right: 10px;
      }
    }
  }
}
