@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.subscribe_btn {
  width: 100px;
  padding: 7px 0;
  font-size: 14px;
  background-color: $btn-color;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  &.subscribed {
    background-color: #aaa;
  }
}
