@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.search {
  flex: 0.6;
  display: flex;
  padding: 0.1rem;
  margin: 0 1rem;
  border-radius: 3px;
  border: 1px solid;
  background-color: $black-primary;

  &__input {
    width: 100%;
    font-weight: 500;
    padding: 0.3rem;
    color: $text-color;
    &:focus {
      outline: none;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    padding: 0 1.25rem;
  }
}
